In [2]:
#for loop discussion
students=['Muni','bobby','somi','teja','ashok']
print(students)

['Muni', 'bobby', 'somi', 'teja', 'ashok']

In [4]:
for X in students:
    print(X)

Muni
bobby
somi
teja
ashok

In [6]:
for X in students:
    print(f"{X.title()}, you have good experience in python,welldone!!")

Muni, you have good experience in python,welldone!!
Bobby, you have good experience in python,welldone!!
Somi, you have good experience in python,welldone!!
Teja, you have good experience in python,welldone!!
Ashok, you have good experience in python,welldone!!

In [7]:
print(f"daily we should practise on python,{X.title()}.\n")

daily we should practise on python,Ashok.

In [8]:
for X in students:
    print(f"{X.title()}, you have good experience in python,welldone!!")
    print(f"daily we should practise on python,{X.title()}.\n")

Muni, you have good experience in python,welldone!!
daily we should practise on python,Muni.

Bobby, you have good experience in python,welldone!!
daily we should practise on python,Bobby.

Somi, you have good experience in python,welldone!!
daily we should practise on python,Somi.

Teja, you have good experience in python,welldone!!
daily we should practise on python,Teja.

Ashok, you have good experience in python,welldone!!
daily we should practise on python,Ashok.

In [9]:
#for making a numerical list:
for value in range(1,102):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [10]:
numbers=list(range(3,54))
print(numbers)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [13]:
# i want to print only odd numbers from 5 to 39
#range(startvalue,stopvalue,stepvalue)

odd_num=list(range(5,21,5))
print(odd_num)

[5, 10, 15, 20]

In [14]:
odd_num

[5, 10, 15, 20]

In [15]:
#simple statistical operations:
min(odd_num)

5

In [17]:
max(odd_num)

20

In [18]:
sum(odd_num)

50